.navbar{
    height: 5rem;
}
.card-sec{
    justify-content: space-around;
}
.cart-icon{
    color: white;
    width: 5rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.fa-cart-shopping{
    font-size: 2rem;

}
.count-span{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -15%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.product_img_div{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height:10rem;
}

.card-img-top{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 5rem;
}

.card-text1{
   display: none;
    /* overflow: scroll; */
    height: 100px;
}
.card-title{
    overflow: hidden;
    height: 26px;
}
.add_to_card_sec{
    background: #212529;
    width: 25%;
    height: 80%;
    overflow: scroll;
    position: absolute;
    top: 5rem;
    right: 0;
}